* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E3E3E3;
    height: 100vh;
}

#logo {
    width: 140px;
    height: 78px;
}

#navbar-items {
    font-family: 'Cormorant Garamond', serif;
    text-transform: lowercase;
    font-size: large;
    color: #233142;
}