* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E3E3E3;
}

#logo {
    width: 140px;
    height: auto;
    object-fit: cover;
}

#navbar-items {
    font-family: 'Cormorant Garamond', serif;
    text-transform: lowercase;
    font-size: medium;
    color: #233142;
}

#navbar-items:hover {
    color: #455D7A;
}

#totop {
    bottom: 0;
    position: fixed;
    z-index: 1;
}

#hero {
    height: 100vh;
}

#profile-img {
    height: auto;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.about-container__body {
    font-family: 'Cormorant Garamond', serif;
    color: #455D7A;
    font-size: large;
}

.uk-card {
    background-color: #E3E3E3;
    font-family: 'Cormorant Garamond', serif;
    font-size: large;
    color: #455D7A;
}

#text {
    font-family: 'Cormorant Garamond', serif;
    color: #233142;
}

#skills-img {
    width: 100px;
    height: auto;
    object-fit: cover;
}

#resume {
    height: auto;
    object-fit: cover;
}

#download-link {
    text-decoration: none;
}

#download {
    font-family: 'Cormorant Garamond', serif;
    color: #233142;
    text-align: center;
    text-decoration: none;
}

#connect-legend {
    font-family: 'Cormorant Garamond', serif;
    color: #233142;
    font-size: x-large;
}

#form-text {
    font-family: 'Cormorant Garamond', serif;
    color: #233142;
}

.uk-textarea {
    font-family: 'Cormorant Garamond', serif;
    color: #233142;
}

#submit-btn {
    font-family: 'Cormorant Garamond', serif;
    color: #E3E3E3;
    background-color: #455D7A;
}

#success h3 {
    font-family: 'Cormorant Garamond', serif;
    color: #233142;
}